<html>
    <head></head>
    <h2 style="text-align: center;">Job Application Form</h2>
    
    <body bgcolor="#F9EEF7" >

        state = <%- dropDownStringArray.state%><br>
        relationship = <%- dropDownStringArray.relationship %><br>



          </body>
</html>