
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />

    <title>Home Page</title>
</head>
<body>
    <section class="s1">
    <h1>Welcome <%=tokenData.username%></h1>
    <a href="/logout">Logout</a><br>

    <a href="/job">job application</a><br>
    <a href="colorchange.html">kuku kube</a><br>
    <a href="tictactoe.html">Tic tac toe</a><br>

    <!-- <a href="site.html">site designing-1</a><br>
    <a href="/job">site designing-2</a><br> -->
    
    <a href="/page"> Pagination</a><br>
    <a href="/searching"> Search</a><br>
    <a href="/edittable">Edit & save all</a><br>
    <a href="/stu_table"> show 10 tables</a><br>

</section>
</body>
</html>